<app-header></app-header>

<div class="container my-5 text-center">

  <!-- Spinner -->
  <ng-container *ngIf="cargando; else contenido">
    <div class="spinner-border text-primary" role="status">
    </div>
  </ng-container>

  <ng-template #contenido>
    <h2 class="mb-4">Mis Turnos</h2>

    <!-- filtro -->
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Filtrar por especialidad o especialista..."
      [(ngModel)]="filtro"
      (input)="aplicarFiltro()"
    />

    <!-- hay turnos -->
    <div *ngIf="turnos.length > 0; else sinTurnos" class="table-responsive">
      <table class="table table-dark table-striped table-bordered">
        <thead>
          <tr>
            <th class="th-violeta">Fecha</th>
            <th class="th-violeta">Hora</th>
            <th class="th-violeta">Especialidad</th>
            <th class="th-violeta">Especialista</th>
            <th class="th-violeta">Estado</th>
            <th class="th-violeta">Comentario Paciente</th>
            <th class="th-violeta">Comentario Cancelacion</th>
            <th class="th-violeta">Reseña Especialista</th>
            <th class="th-violeta">Encuesta completada</th>
            <th class="th-violeta">Calificacion Dada</th>
            <th class="th-violeta">Acciones</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let turno of turnosFiltrados">
            <td appHoverResaltado>{{ turno.fecha | formatearFecha }}</td>
            <td appHoverResaltado>{{ turno.hora }}</td>
            <td appHoverResaltado>{{ turno.especialidad }}</td>
            <td appHoverResaltado>{{ turno.especialista_email }}</td>
            <td [appEstadoTurno]="turno.estado">{{ turno.estado | uppercase }}</td>
            <td>{{ turno.comentario_paciente }}</td>
            <td>{{ turno.comentario_cancelacion|| '—' }}</td>
            <td>{{ turno.resena_especialista }}</td>
            <td>{{ turno.encuesta_completada ? 'Si' : 'No' }}</td>
            <td>{{ turno.calificacion }}</td>
           <td>
            <div class="d-flex flex-column align-items-center gap-1">

              <!-- Cancelar -->
              <button class="btn btn-danger btn-sm"
                      *ngIf="turno.estado !== 'realizado' && turno.estado !== 'cancelado' && turno.estado !== 'rechazado'"
                      (click)="cancelarTurno(turno)">
                Cancelar
              </button>

              <!-- reseña -->
              <button class="btn btn-secondary btn-sm"
                      *ngIf="turno.resena_especialista"
                      (click)="verResena(turno)">
                      Reseña
              </button>

              <!-- encuesta -->
              <button class="btn btn-success btn-sm"
                      *ngIf="turno.estado === 'realizado' && turno.resena_especialista && !turno.encuesta_completada"
                      (click)="completarEncuesta(turno)">
                      Encuesta
              </button>

              <!-- Calificar -->
              <button class="btn btn-primary btn-sm"
                      *ngIf="turno.estado === 'realizado' && !turno.calificacion"
                      (click)="calificar(turno)">
                      Calificar
              </button>

            </div>
          </td>


          </tr>
        </tbody>
      </table>
    </div>

    <!-- no hay turnos -->
    <ng-template #sinTurnos>
      <p class="lead mt-4">No tenés turnos registrados por el momento.</p>
    </ng-template>
  </ng-template>
</div>
