<app-header></app-header>

<div class="container my-5 text-center custom-container">
  <ng-container *ngIf="cargando; else contenido">
    <div class="spinner-border text-primary" role="status"></div>
  </ng-container>

  <ng-template #contenido>
    <h2 class="mb-4 titulo-violeta">Seleccioná una especialidad</h2>

    <!-- Selector de paciente solo si es ADMIN -->
    <!-- <div *ngIf="tipoUsuario === 'admin' && pacientes.length > 0" class="mb-4">
      <h4 class="titulo-violeta">Seleccioná un paciente</h4>
      <div class="d-flex flex-wrap justify-content-center gap-2">
        <button
          *ngFor="let p of pacientes"
          class="btn btn-outline-violet"
          [ngClass]="{ 'activo': p === pacienteSeleccionado }"
          (click)="pacienteSeleccionado = p">
          {{ p }}
        </button>
      </div>
    </div> -->

    <div *ngIf="tipoUsuario === 'admin'" class="mb-4">
      <h4 class="titulo-violeta">Seleccioná un paciente</h4>
      <select class="form-select bg-dark text-light" [(ngModel)]="pacienteSeleccionado">
        <option *ngFor="let p of pacientes" [value]="p">{{ p }}</option>
      </select>
    </div>


    <!-- especialidades con imagen circular -->
    <div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
      <button
        *ngFor="let esp of especialidades"
        class="btn especialidad-btn"
        [ngClass]="{ 'especialidad-activa': esp === seleccionada }"
        (click)="seleccionarEspecialidad(esp)">
        <img
          [src]="getImagenEspecialidad(esp)"
          [alt]="esp"
          class="img-especialidad"
        />
      </button>
    </div>



    <!-- Especialistas -->
    <div *ngIf="seleccionada">
      <ng-container *ngIf="cargandoEspecialistas; else especialistasContenido">
        <div class="spinner-border text-primary" role="status"></div>
      </ng-container>

      <ng-template #especialistasContenido>
        <div *ngIf="especialistas.length > 0">
          <h3 class="mb-3 titulo-violeta">
            Especialistas disponibles en {{ seleccionada }}
          </h3>

<div class="d-flex flex-wrap justify-content-center gap-3 mb-4">
  <div
    *ngFor="let esp of especialistas"
    class="text-center profesional-wrapper"
    [ngClass]="{ 'profesional-activo': esp.email === especialistaSeleccionado }"
    (click)="seleccionarEspecialista(esp.email)">
    
    <button class="btn profesional-btn">
      <img
        [src]="esp.imagen1 || '/imgs_perfiles/default.jpg'"
        alt="{{ esp.nombre }} {{ esp.apellido }}"
        class="img-profesional"
      />
    </button>

    <div class="nombre-profesional">
      {{ esp.nombre | uppercase }} {{ esp.apellido | uppercase }}
    </div> 
    
    <div class="email-profesional">
      {{ esp.email }}
    </div>

  </div>
</div>

        </div>
      </ng-template>
    </div>



    <!-- Fechas disponibles -->
    <div *ngIf="especialistaSeleccionado">
      <ng-container *ngIf="cargandoFechas; else fechasContenido">
        <div class="spinner-border text-primary" role="status"></div>
      </ng-container>

      <ng-template #fechasContenido>
        <div *ngIf="fechasDisponibles.length > 0">
          <h4 class="mb-3 titulo-violeta">Seleccioná una fecha</h4>
          <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
            <button
              *ngFor="let f of fechasDisponibles"
              class="btn btn-outline-violet"
              [ngClass]="{ 'activo': f.fecha === diaSeleccionado }"
              (click)="seleccionarFecha(f)">
              <!-- {{ f.dia | titlecase }} {{ f.fecha | date:'dd/MM/yyyy' }} -->
              {{ f.dia | titlecase }} {{ f.fecha | date:'dd/MM' }}
            </button>
          </div>
        </div>
      </ng-template>
    </div>


    <!-- Horarios -->
    <!-- <div *ngIf="horariosDisponibles.length > 0">
      <h5 class="mb-3 titulo-violeta">
        Horarios disponibles para {{ diaSeleccionado | date:'dd/MM/yyyy' | titlecase }}
      </h5>

      <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
        <button
          class="btn btn-outline-violet"
          *ngFor="let h of horariosDisponibles"
          [ngClass]="{ 'activo': h.hora === horarioSeleccionado }"
          
          [disabled]="!h.disponible"
          
          (click)="seleccionarHorario(h.hora)">
          {{ h.hora }}
        </button>
      </div>
    </div> -->

    <!-- Horarios -->
    <div *ngIf="diaSeleccionado">
      <ng-container *ngIf="cargandoHorarios; else horariosContenido">
        <div class="spinner-border text-primary" role="status"></div>
      </ng-container>

      <ng-template #horariosContenido>
        <div *ngIf="horariosDisponibles.length > 0">
          <h5 class="mb-3 titulo-violeta">
            Horarios disponibles para {{ diaSeleccionado | date:'dd/MM/yyyy' | titlecase }}
          </h5>

          <div class="d-flex flex-wrap justify-content-center gap-2 mb-4">
            <button
              class="btn btn-outline-violet"
              *ngFor="let h of horariosDisponibles"
              [ngClass]="{
                'activo': h.hora === horarioSeleccionado,
                'no-disponible': !h.disponible
              }"
              (click)="seleccionarHorario(h.hora)">
              <!-- pipe personalizado para formato porq lo hice desde string -->
              {{ h.hora | horaFormato}}
            </button>
          </div>
        </div>
      </ng-template>
    </div>



    <!-- Botón Confirmar Turno -->
    <div *ngIf="horarioSeleccionado" class="mt-4">
      <button
        class="btn btn-violet"
        [disabled]="enviando"
        (click)="confirmarTurno()"
      >
        {{ enviando ? 'Solicitando...' : 'Confirmar Turno' }}
      </button>
    </div>

  </ng-template>
</div>
