<app-header></app-header>

<div class="register-container">
  <h2>Registro</h2>
    <!-- Mensaje final -->
    <p class="mensaje" *ngIf="mensaje">{{ mensaje }}</p>
    <!-- Spinner -->
  <div *ngIf="cargando" class="text-center my-3">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Registrando...</span>
    </div>
  </div>

  <!-- Registro Exitoso, confirmar mail., -->
  <div *ngIf="registroExitoso && !cargando" class="text-center">
    <p class="fw-bold text-violet">{{ mensaje }}</p>
      <!-- <button class="btn btn-violet mt-3" (click)="irA('/login')">Ir al Login</button> -->
  </div>

  <form *ngIf="!registroExitoso && !cargando" [formGroup]="form" (ngSubmit)="register()" class="d-flex flex-column gap-3">

    <!-- Tipo de usuario -->
    <label>Tipo de usuario</label>
    <select class="register-input" formControlName="tipo">
      <option value="paciente">Paciente</option>
      <option value="especialista">Especialista</option>
    </select>

    <!-- Nombre -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-person-fill"></i></span>
      <input type="text" formControlName="nombre" class="form-control register-input" placeholder="Nombre" />
    </div>
    <div *ngIf="form.get('nombre')?.hasError('nombreInvalido') && form.get('nombre')?.touched" class="text-danger small">
      {{ form.get('nombre')?.getError('nombreInvalido') }}
    </div>


    <!-- Apellido -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-person-vcard-fill"></i></span>
      <input type="text" formControlName="apellido" class="form-control register-input" placeholder="Apellido" />
    </div>
    <div *ngIf="form.get('apellido')?.hasError('nombreInvalido') && form.get('apellido')?.touched" class="text-danger small">
      {{ form.get('apellido')?.getError('nombreInvalido') }}
    </div>


    <!-- Edad -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-cake-fill"></i></span>
      <input type="number" formControlName="edad" class="form-control register-input" placeholder="Edad" />
    </div>
    <div *ngIf="form.get('edad')?.hasError('edadInvalida') && form.get('edad')?.touched" class="text-danger small">
      {{ form.get('edad')?.getError('edadInvalida') }}
    </div>

    <!-- DNI -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-card-text"></i></span>
      <input type="text" formControlName="dni" class="form-control register-input" placeholder="DNI" />
    </div>
    <div *ngIf="form.get('dni')?.hasError('dniInvalido') && form.get('dni')?.touched" class="text-danger small">
      {{ form.get('dni')?.getError('dniInvalido') }}
    </div>

    <!-- Obra Social -->
    <div *ngIf="form.get('tipo')?.value === 'paciente'" class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-hospital-fill"></i></span>
      <input type="text" formControlName="obraSocial" class="form-control register-input" placeholder="Obra Social" />
    </div>
    <div *ngIf="form.get('obraSocial')?.hasError('obraSocialInvalida') && form.get('obraSocial')?.touched" class="text-danger small">
      {{ form.get('obraSocial')?.getError('obraSocialInvalida') }}
    </div>

    <!-- Especialidad -->
    <div *ngIf="form.get('tipo')?.value === 'especialista'">
      <label>Especialidad</label>

      <select class="register-input"
              formControlName="especialidad"
              [disabled]="form.get('nuevaEspecialidad')?.value">
        <option *ngFor="let esp of ['Cardiología', 'Pediatría', 'Dermatología']" [value]="esp">
          {{ esp }}
        </option>
      </select>

      <!-- Agregar especialidad -->
      <div class="input-group mt-2">
        <span class="bg-violet text-white">
          <i class="bi bi-plus-circle-fill"></i>
        </span>
        <input type="text"
              formControlName="nuevaEspecialidad"
              class="form-control register-input ms-3"
              placeholder="O ingresá una nueva"
              [disabled]="form.get('especialidad')?.value" />
      </div>
    </div>

    <!-- Email -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-envelope-fill"></i></span>
      <input type="email" formControlName="email" class="form-control register-input" placeholder="Email" />
    </div>
    <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="text-danger small">
      Ingresá un email válido.
    </div>

    <!-- Contraseña -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-lock-fill"></i></span>
      <input type="password" formControlName="password" class="form-control register-input" placeholder="Contraseña" />
    </div>
    <div *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched" class="text-danger small">
      La contraseña debe tener al menos 6 caracteres.
    </div>

    <!-- Imagen 1 -->
    <div class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-image-fill"></i></span>
      <input type="file" class="form-control register-input" (change)="seleccionarArchivo($event, 1)" accept=".jpg, .jpeg, .png, .pdf" />
    </div>

    <!-- Imagen 2 -->
    <div *ngIf="form.get('tipo')?.value === 'paciente'" class="input-group">
      <span class="bg-violet text-white"><i class="bi bi-image-fill"></i></span>
      <input type="file" class="form-control register-input" (change)="seleccionarArchivo($event, 2)" accept=".jpg, .jpeg, .png, .pdf" />
    </div>

    <!-- Boton -->
    <button type="submit" class="register-button" [disabled]="form.invalid">Registrarse</button>


  </form>
</div>
