<app-header></app-header>

<div class="container my-5 text-center">

  <!-- spinner -->
  <ng-container *ngIf="cargando; else contenido">
    <div class="spinner-border text-primary" role="status">
    </div>
  </ng-container>

  <ng-template #contenido>
    <h2 class="mb-4">Mis Turnos como Especialista</h2>

    <!-- filtro -->
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Filtrar por paciente o especialidad..."
      [(ngModel)]="filtro"
    />

    <!-- turnos finalizados -->
                                        <!-- PIPE ! -->
    <ng-container *ngIf="(turnos | filtrarTurnosEspecialista:filtro) as turnosFiltrados">
      <div *ngIf="turnosFiltrados.length > 0; else sinTurnos" class="table-responsive">
        <table class="table table-dark table-striped table-bordered">
          <thead>
            <tr>
              <th class="th-violeta">Fecha</th>
              <th class="th-violeta">Hora</th>
              <th class="th-violeta">Especialidad</th>
              <th class="th-violeta">Paciente</th>
              <th class="th-violeta">Estado</th>
              <th class="th-violeta">Comentario Paciente</th>
              <th class="th-violeta">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let turno of turnosFiltrados">
                                  <!-- PIPE ! -->
              <td>{{ turno.fecha | formatearFecha }}</td>
              <td>{{ turno.hora }}</td>
              <td>{{ turno.especialidad }}</td>
              <td>{{ turno.paciente_email }}</td>
                                                                 <!-- PIPE ! -->
              <td [appEstadoTurno]="turno.estado">{{ turno.estado | uppercase }}</td>
              <td>{{ turno.comentario_paciente || '—' }}</td>
              <td>

                <!-- ver detalles -->
                <!-- <button class="btn btn-primary btn-sm me-1" (click)="verDetalles(turno)">
                  Ver Detalles
                </button> -->

                <!-- aceptar -->
                <button
                  *ngIf="turno.estado === 'pendiente'"
                  class="btn btn-success btn-sm me-1"
                  (click)="aceptarTurno(turno)">
                  Aceptar
                </button>

                <!-- eechazar -->
                <button
                  *ngIf="turno.estado === 'pendiente'"
                  class="btn btn-danger btn-sm me-1"
                  (click)="rechazarTurno(turno)">
                  Rechazar
                </button>

                <!-- cancelar (solo si aceptado) -->
                <button
                  *ngIf="turno.estado === 'aceptado'"
                  class="btn btn-danger btn-sm me-1"
                  (click)="cancelarTurno(turno)">
                  Cancelar
                </button>

                <!-- finalizar -->
                <button
                  *ngIf="turno.estado === 'aceptado'"
                  class="btn btn-info btn-sm me-1"
                  (click)="finalizarTurno(turno)">
                  Finalizar
                </button>

                <!-- reseña-->
                <button
                  *ngIf="turno.estado === 'realizado' && (turno.resena_especialista || turno.diagnostico)"
                  class="btn btn-secondary btn-sm me-1"
                  (click)="verResena(turno)">
                  Ver Reseña
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <!-- son turnos -->
    <ng-template #sinTurnos>
      <p class="lead mt-4">No tenés turnos asignados como especialista.</p>
    </ng-template>
  </ng-template>
</div>
