<app-header></app-header>

<div class="container my-5 text-center">

  <ng-container *ngIf="cargando; else contenido">
    <div class="spinner-border text-primary" role="status">
    </div>
  </ng-container>

  <ng-template #contenido>
    <h2 class="mb-4">Bienvenido a la Clínica Online</h2>

    <ng-container *ngIf="userEmail && tipoUsuario; else noLogin">

    
    <div class="d-flex justify-content-center mb-3" style="min-height: 110px;">
      <ng-container *ngIf="imagenesCargando; else mostrarImagenes">
        <div class="spinner-border text-primary" role="status">
        </div>
      </ng-container>

      <ng-template #mostrarImagenes>
        <div class="d-flex justify-content-center gap-3">
          <img *ngFor="let img of imagenesPerfil" [src]="img" class="foto-perfil" alt="Foto de perfil" />
        </div>
      </ng-template>
    </div>


<p class="tipo-usuario mb-3 text-uppercase">{{ tipoUsuario }}</p>
      <p><strong>{{ userEmail }}</strong></p>
    </ng-container>

    <ng-template #noLogin>
      <p class="lead mb-5">Iniciá sesión o registrate para acceder a la plataforma</p>
      <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
        <button class="btn btn-primary" (click)="irA('/login')">Login</button>
        <button class="btn btn-secondary" (click)="irA('/register')">Registrarse</button>
      </div>
    </ng-template>
  </ng-template>
</div>
