
<app-header></app-header>

<div class="container my-4 text-center">
  <div class="btn-group mb-4">
    <button class="btn btn-outline-light" [class.active]="vistaActual === 'listado'" (click)="vistaActual = 'listado'">
      Ver Usuarios
    </button>
    <button class="btn btn-outline-light" [class.active]="vistaActual === 'crear'" (click)="vistaActual = 'crear'">
      Crear Usuario
    </button>
  </div>

  <ng-container *ngIf="vistaActual === 'listado'">
    <app-usuarios-lista></app-usuarios-lista>
  </ng-container>

  <ng-container *ngIf="vistaActual === 'crear'">
    <app-usuarios-crear></app-usuarios-crear>
  </ng-container>
</div>
