<app-header></app-header>

<div class="container my-5 text-center">
  <div *ngIf="imagenesCargando; else perfilCargado">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <ng-template #perfilCargado>
    <div class="perfil-box">
      <h2 class="mb-3">Mi Perfil</h2>

      <ng-container *ngIf="imagenesPerfil.length; else sinImagenes">
        <div class="d-flex justify-content-center gap-3 mb-3">
          <img *ngFor="let img of imagenesPerfil" [src]="img" class="foto-perfil" alt="Foto de perfil" />
        </div>
      </ng-container>

      <ng-template #sinImagenes>
        <p class="text-muted">No hay imágenes cargadas.</p>
      </ng-template>

      <!-- datos comunes -->
      <p><strong>Nombre:</strong> {{ nombre }}</p>
      <p><strong>Apellido:</strong> {{ apellido }}</p>
      <p><strong>Email-Usuario:</strong> {{ userEmail }}</p>
      <p><strong>Tipo de usuario:</strong> {{ tipoUsuario }}</p>

      <!-- datos especificos -->
      <div *ngIf="tipoUsuario === 'paciente'">
        <p><strong>DNI:</strong> {{ dni }}</p>
        <p><strong>Edad:</strong> {{ edad }}</p>
        <p><strong>Obra social:</strong> {{ obraSocial }}</p>
      </div>

      <div *ngIf="tipoUsuario === 'especialista'">
        <p><strong>DNI:</strong> {{ dni }}</p>
        <p><strong>Edad:</strong> {{ edad }}</p>
        <p><strong>Especialidad/es:</strong> 
          <span *ngIf="especialidades.length; else sinEsp">
            {{ especialidades.join(', ') }}
          </span>
        </p>
        <ng-template #sinEsp>
          <span class="text-muted">No hay especialidades registradas.</span>
        </ng-template>
      </div>

      <div *ngIf="tipoUsuario === 'admin'">
        <p><strong>DNI:</strong> {{ dni }}</p>
        <p><strong>Edad:</strong> {{ edad }}</p>
      </div>

      <!-- boton historia clinica -->
      <div *ngIf="tipoUsuario === 'paciente'" class="mt-4">
        <button class="btn btn-outline-light mb-3" (click)="toggleHistoriaClinica()">
          {{ mostrarHistoria ? 'Ocultar Historia Clínica' : 'Ver Historia Clínica' }}
        </button>

        <div #historiaClinicaRef *ngIf="mostrarHistoria" class="fade-in">
          <app-historia-clinica></app-historia-clinica>

        <div *ngIf="historiasClinicas.length" class="my-3">
          <button class="btn btn-violeta" (click)="generarPDFHistoriaClinica(historiasClinicas)">
            📄 Descargar Historia Clínica Completa (PDF)
          </button>

          <br><br>

          <div>
            <label for="especialistaSelect" class="form-label text-light">Seleccionar Especialista:</label>
            <select id="especialistaSelect" [(ngModel)]="especialistaSeleccionado" class="form-select filtro-violeta">
              <option value="">-- Seleccionar --</option>
              <option *ngFor="let esp of especialistasUnicos" [value]="esp.mail">
                {{ esp.nombreCompleto }}
              </option>
            </select>
            
           <button class="btn btn-violeta mt-2" [disabled]="!especialistaSeleccionado"
            (click)="generarPDFHistoriaClinicaPorEspecialista()">
            📄 Descargar Historia Clínica de {{ nombreEspecialistaSeleccionado }}
          </button>

          </div>
        </div>

        </div>
      </div>

      <!-- horarios especialista -->
      <div *ngIf="tipoUsuario === 'especialista'" class="mt-4">
        <app-horarios-especialistas></app-horarios-especialistas>
      </div>
    </div>
  </ng-template>
</div>
