<h3 class="titulo-violeta">Mis horarios</h3>

<table class="table table-dark table-striped table-hover rounded text-white custom-table">
  <thead>
    <tr class="table-violet">
      <th>Día</th>
      <th>Desde</th>
      <th>Hasta</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of horariosActuales">
      <td>{{ h.dia | titlecase }}</td>
      <td><input type="time" [(ngModel)]="h.desde" class="form-control input-violet" /></td>
      <td><input type="time" [(ngModel)]="h.hasta" class="form-control input-violet" /></td>
      <td>
        <button class="btn btn-violet btn-sm me-1" (click)="actualizarHorario(h)">Guardar</button>
        <button class="btn btn-outline-danger btn-sm" (click)="eliminarDia(h.dia)">Eliminar día</button>
      </td>
    </tr>
  </tbody>
</table>


<hr class="my-4" />

<h5 class="text-white">Agregar nuevo día</h5>
<div class="row g-2 align-items-center">
  <div class="col-md-4">
    <select [(ngModel)]="nuevoDia" class="form-select select-violeta">
      <option value="" disabled selected>Seleccioná un día</option>
      <option *ngFor="let dia of diasDisponibles" [value]="dia">{{ dia | titlecase }}</option>
    </select>
  </div>
  <div class="col-md-3">
    <input type="time" [(ngModel)]="nuevoDesde" class="form-control" placeholder="Desde" />
  </div>
  <div class="col-md-3">
    <input type="time" [(ngModel)]="nuevoHasta" class="form-control" placeholder="Hasta" />
  </div>
  <div class="col-md-2">
    <button class="btn btn-violet w-100" (click)="agregarHorario()">Agregar Día</button>
  </div>
</div>
